<h1>{{page}}</h1>
<div class="card" style="width: 50%; display: inline-block">
  <div class="card-header">
    <h3>{{products.results[0].original_title}}</h3>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src= "https://image.tmdb.org/t/p/w500{{products.results[0].poster_path}}" class="img-responsive center-block" style="max-height:300px;padding-bottom:50px">
        <p>{{products.results[0].overview}}</p>
        <p><b>Release Date: {{products.results[0].release_date}}</b></p>
      </div>
    </div>
  </div>
</div>
<div class="card" style="width: 50%; display: inline-block">
  <div class="card-header">
    <h3>{{products.results[1].original_title}}</h3>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src= "https://image.tmdb.org/t/p/w500{{products.results[1].poster_path}}" class="img-responsive center-block" style="max-height:300px;padding-bottom:50px">
        <p>{{products.results[1].overview}}</p>
        <p><b>Release Date: {{products.results[1].release_date}}</b></p>
      </div>
    </div>
  </div>
</div>
<div class="card" style="width: 50%; display: inline-block">
  <div class="card-header">
    <h3>{{products.results[2].original_title}}</h3>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
          <img src= "https://image.tmdb.org/t/p/w500{{products.results[2].poster_path}}" class="img-responsive center-block" style="max-height:300px;padding-bottom:50px">
        <p>{{products.results[2].overview}}</p>
        <p><b>Release Date: {{products.results[2].release_date}}</b></p>
      </div>
    </div>
  </div>
</div>
<div class="card" style="width: 50%; display: inline-block">
  <div class="card-header">
    <h3>{{products.results[3].original_title}}</h3>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
          <img src= "https://image.tmdb.org/t/p/w500{{products.results[3].poster_path}}" class="img-responsive center-block" style="max-height:300px;padding-bottom:50px">
        <p>{{products.results[3].overview}}</p>
        <p><b>Release Date: {{products.results[3].release_date}}</b></p>
      </div>
    </div>
  </div>
</div>
<div class="card" style="width: 50%; display: inline-block">
  <div class="card-header">
    <h3>{{products.results[4].original_title}}</h3>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src= "https://image.tmdb.org/t/p/w500{{products.results[4].poster_path}}" class="img-responsive center-block" style="max-height:300px;padding-bottom:50px">
        <p>{{products.results[4].overview}}</p>
        <p><b>Release Date: {{products.results[4].release_date}}</b></p>
      </div>
    </div>
  </div>
</div>
<div class="card" style="width: 50%; display: inline-block">
  <div class="card-header">
    <h3>{{products.results[5].original_title}}</h3>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src= "https://image.tmdb.org/t/p/w500{{products.results[5].poster_path}}" class="img-responsive center-block" style="max-height:300px;padding-bottom:50px">
        <p>{{products.results[5].overview}}</p>
        <p><b>Release Date: {{products.results[5].release_date}}</b></p>
      </div>
    </div>
  </div>
</div>